* text=auto eol=lf
*.json5 linguist-detectable linguist-language=JSON5
*.yaml linguist-detectable linguist-language=YAML
*.justfile linguist-detectable linguist-language=JUST
*.go linguist-detectable linguist-language=GO
*.hcl linguist-detectable linguist-language=HCL
